h1 {
  font-family: "Amatic SC", cursive;
  color: #fa5faa;
  letter-spacing: 2px;
  font-weight: 700;
}

p {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.1rem;
}

button {
  cursor: pointer;
}

.logoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 800px) {
  .logoContainer {
    display: none;
  }
}

.headerNavLinks {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.heroSection {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(243, 243, 243);
  padding: 30px 0px 40px;
}

.heroSection button {
  width: 370px;
  font-size: 1.1rem;
  padding: 10px;
  border: none;
  border-radius: 7px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  font-family: "Josefin Sans", sans-serif;
  padding-top: 15px;
}

.heroOrderButton {
  background-color: #8ff5c4;
}

.heroMessageButton {
  background-color: #fa5faa;
  color: white;
}

.heroSection p {
  margin: 10px 0 10px;
}
